<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Treenilista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1 style="padding-left: 10px;">Tervetuloa treenisovellukseen, <span sec:authentication="name"></span>!</h1> 
    <div style="clear: both; display: block; height: 10px;"></div>
    <h1 style="padding-left: 10px; color: brown;">Harjoitukset</h1>
    <table class="table table-striped">
        <tr>
            <th>Treeni</th>
            <th>Kesto</th>
            <th>Päivämäärä</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        <tr th:each="treeni : ${treenit}">
            <td th:text="${treeni.treenityyppi.name}"></td>
            <td th:text="${treeni.kesto}"></td>
            <td th:text="${treeni.pvm}"></td>
            <td><a th:href="@{/edit/{id}(id=${treeni.id})}" class="btn btn-success">Muokkaa</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${treeni.id})}" class="btn btn-danger">Poista</a></td>
        </tr>
    </table>
    <div style="padding-left: 10px;">
        <div style="clear: both; display: block; height: 10px;"></div>
        <a href="/lisaatreeni" class="btn btn-success">Lisää uusi harjoitus</a>
        <div style="clear: both; display: block; height: 10px;"></div>
    
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-danger" type="submit" value="Kirjaudu ulos" />
        </form>
    </div>

</body>

</html>