<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Treenilista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <!-- <h1>Welcome <span sec:authentication="name"></span>!</h1> -->
    <h1>Treenit</h1>
    <table class="table table-striped">
        <tr>
            <th>Treeni</th>
            <th>Kesto</th>
            <th>Päivämäärä</th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
        <tr th:each="treeni : ${treenit}">
            <td th:text="${treeni.treenityyppi.name}"></td>
            <td th:text="${treeni.kesto}"></td>
            <td th:text="${treeni.pvm}"></td>
            <td><a th:href="@{/edit/{id}(id=${treeni.id})}" class="btn btn-success">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${treeni.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <a href="/lisaatreeni" class="btn btn-success">Lisää uusi harjoitus</a>

    <form th:action="@{/logout}" method="post">
		<input class="btn btn-danger" type="submit" value="Sign Out" />
	</form>

</body>

</html>